.hero {
    display         : flex;
    width           : 100%;
    height          : 100vh;
    justify-content : center;
    align-items     : center;
	
	.intro {
		grid-area    : intro;
		align-self   : center;
		justify-self : center;
		position     : relative;
	}
	
	.title {
		font-family             : vortice-concept, sans-serif;
		font-weight             : 400;
		font-size               : 3em;
		line-height             : 1;
		margin                  : 3vw 0 0 0;
		-webkit-text-stroke     : 3px var(--color-primary);
		text-stroke             : 3px var(--color-primary);
		-webkit-text-fill-color : transparent;
		text-fill-color         : transparent;
		color                   : transparent;
		text-align              : center;
		transition              : 0.75s all ease-in-out;

		@include breakpoint(medium) {
			font-size   : 5em;
			line-height : 0.8;
		}
		@include breakpoint(large) {
			font-size   : 8em;
			line-height : 1;
		}
	}
	
	.description {
		margin: 2rem 0 0 1rem;
		max-width: 300px;
	}
}

.icon {
	display          : block;
	width            : 2em;
	height           : 2em;
	margin           : 0 25px;
	fill             : currentColor;
	// background-color : #000;
	transition       : 0.5s all ease-in-out ;

	&:hover {
		transform : scale(1.2);
		color     : #88e7c4;
	}

	@include breakpoint(medium) {
		width   : 2.5em;
		height  : 2.5em;
	}
}

.subline {
	font-family             : vortice-concept, sans-serif;
	font-weight             : 400;
	font-size               : 1em;
	line-height             : 1;
	// margin                  : 3vw 0 0 0;
	-webkit-text-stroke     : 0.75px var(--color-button);
	text-stroke             : 0.75px var(--color-button);
	-webkit-text-fill-color : transparent;
	text-fill-color         : transparent;
	color                   : transparent;
	text-align              : center;
	transition              : 1s all ease-in-out;

	@include breakpoint(large) {
		font-size: 3em;
		-webkit-text-stroke     : 1px var(--color-button);
		text-stroke             : 1px var(--color-button);
	}
}