#contact {
	position: relative;
}
.contact-component {
	position  : absolute;
	top       : 15%;
	left      : 15%;
	width : 300px;
	@include breakpoint(large) {
		top       : 20%;
		left      : 35%;
		width : 500px;
	}
	.fields {
		display        : flex;
		flex-direction : column;
		text-align     : center;
		margin         : 1em auto;
		width          : 100%;

		@include breakpoint(large) {
			max-width      : 400px;
		}
	
		* {
			width      : 100%;
			padding    : 1em 0;
			margin     : 10px 0 0;
			background : transparent;
			color      : white !important;
			border     : 1px dashed var(--color-primary);
		}

		.button {
			font-family: vortice-concept, sans-serif;
			font-size: small;
			&:hover {
				cursor: pointer;
			}
		}
	}
}
