#projects {
	max-height: 400px;

	@include breakpoint(medium) {
		max-height: 550px;
	}
	@include breakpoint(large) {
		max-height: 425px;
	}
	@include breakpoint(xxlarge) {
		max-height: 75vh;
	}
}


.slider-component {
	padding    : 0;
	transform: translateY(-50px);
	position: relative;

	@include breakpoint(large) {
		padding    : 2em 0 0;
		transform: translateY(-100px);
		// transform: translateY(-25px);

		// .title {
		// 	font-size : 80px !important;
		// 	position  : absolute;
		// 	top       : -145px;
		// 	left      : 25%;
		// }
	}

	.swiper {
		width          : 100%;
		padding-top    : 50px;
		padding-bottom : 50px;
	}

	.swiper-slide {
		background-position : center;
		background-size     : cover;
		max-width           : 768px !important;
		max-height          : 768px !important;
	}

	.swiper-slide img {
		display : block;
		width   : 100%;
	}


	.swiper-slide-active .tools {
		display : inline-flex;
	}
	@include breakpoint(large) {
		.swiper-slide-active .tools {
			display : none;
		}
		.swiper-slide-next .tools {
			display : inline-flex;
		}
	}

	.tools {
		flex-direction : horizontal;
		padding        : 2em 0;
		display        : none;
	}

	.tool {
		max-width  : 55px;
		max-height : 50px;
		padding    : 7px;
		@include breakpoint(large) {
			max-width  : 100px;
		}
	}


	.swiper-pagination-bullet {
		background-color : rgb(117, 117, 117);
		opacity          : 1;

		&.swiper-pagination-bullet-active {
			background-color : var(--color-primary);
		}
	
	}

	.swiper-button-next, .swiper-button-prev  {
		color: var(--color-primary) !important;
	}
}
